</main>

<div class="container">
  <footer class="py-3 my-4">
    <% var date = new Date() %>
    <% var year = date.getFullYear() %>
    <p class="text-center text-body-secondary">© <%= year %> Dharun Thota</p>
  </footer>
</div>
</body>

</html>